html {
    font-family: sans-serif;
}

button {
    cursor: pointer;
}

.container {
    text-align: center;
}

.grid-container {
    width: 500px;
    height: 500px;
    background-color: #34495e;
    border: 6px solid #2c3e50;
    border-radius: 10px;
    display: grid;
    /* margin: auto; */
    margin-top: 1%;
    margin-left: 36.5%;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.score-container {
    display: flex;
    flex-direction: row;
    margin-left: 39%;
    /* display: grid;
    grid-auto-flow: column;
    grid-column-gap: 5px; */
}

.x-score {
    display: flex;
    flex-direction: row;
    border: 1px solid #dadce0;
    border-radius: 10px;
    width: 200px;
    margin-right: 10px;
}

.o-score {
    display: flex;
    flex-direction: row;
    border: 1px solid #dadce0;
    border-radius: 10px;
    width: 200px;
}

.player {
    margin-left: 5%;
}

.score {
    margin-left: 50%;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #ffffff;
    border: 6px solid #2c3e50;
    border-radius: 2px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4em;
}

.popup-container {
    position: absolute;
    left: 37.5%;
    bottom: 10%;
    width: 350px;
    height: 500px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 20px;
}

.top-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    /* border: 2px solid #000000; */
}

.popup-title {
    font-size: 20px;
    font-family: sans-serif;
}

.close {
    /* margin-right: -50px; */
    color: #000000;
    padding: 5px;
    font-size: 20px;
    border: none;
    background-color: transparent;
}

.popup-content {
    font-size: 15px;
    font-family: sans-serif;
}

.boxed-text {
    border: 1px solid #000000;
}